CONFIG_TEXT_BASE=0x60000000
CONFIG_SYS_LOAD_ADDR=0x60200000
CONFIG_BOOTCOMMAND="load hostfs - 0x40400000 Image && load hostfs - 0x44000000 rootfs.cpio.uboot  &&  setenv bootargs console=ttyAMA0,115200 earlyprintk=serial,ttyAMA0,115200 root=/dev/vda kvm-arm.mode=nested kvm-arm.vgic_v4_enable=on nokaslr clk_ignore_unused=on && booti 0x40400000 0x44000000 ${fdt_addr}"
CONFIG_SEMIHOSTING=y
# CONFIG_INIT_SP_RELATIVE=n
# CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x60200000
# Drop flash accesses
# CONFIG_ENV_IS_IN_FLASH=n
# CONFIG_MTD=n
# CONFIG_MTD_NOR_FLASH=n
# CONFIG_ENV_IS_NOWHERE=y
CONFIG_CMD_BOOTEFI_SELFTEST=n

# Boot Linux to EL1 for now
CONFIG_ARMV8_SWITCH_TO_EL1=n
